/*
 * Override the styling of the post title in the post editor
 * to make it look as though it's part of the editor frame instead
 * of the post content.
 */
.edit-post-visual-editor__post-title-wrapper {
	background-color: #fff; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 0;
	margin-top: 0 !important;
	max-width: none;
	overflow: hidden;
	width: 100%;

	& .wp-block-post-title {
		color: #000; /* stylelint-disable-line scale-unlimited/declaration-strict-value */
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		font-size: 16px;
		height: auto;
		line-height: 1;
		padding: 4px 0;
	}
}

/*
 * Define the various widths of editor interface elements.
 * Sadly these are not exposed as CSS variables, so we have to
 * manually define them here and update them if they ever change.
 */
:root {
	--wp--interface--sidebar--width: 280px;
	--wp--interface--secondary--sidebar--width: 350px;
}

/*
 * Subtract Inspector Controls Width from full viewport width if open
 */
.interface-interface-skeleton.is-sidebar-opened .editor-styles-wrapper {
	--wp--custom--full-viewport-width: calc(100vw - var(--wp--interface--sidebar--width));
}

/*
 * Subtract List View Width from full viewport width if open
 */
.interface-interface-skeleton__secondary-sidebar ~ .interface-interface-skeleton__content .editor-styles-wrapper {
	--wp--custom--full-viewport-width: calc(100vw - var(--wp--interface--secondary--sidebar--width));
}

/*
 * Subtract both List View and Inspector Controls
 * Width from full viewport width if open
 */
.interface-interface-skeleton.is-sidebar-opened .interface-interface-skeleton__secondary-sidebar ~ .interface-interface-skeleton__content .editor-styles-wrapper {
	--wp--custom--full-viewport-width: calc(100vw - var(--wp--interface--secondary--sidebar--width) - var(--wp--interface--sidebar--width));
}

.wp-block-image img[src$=".svg"] {
	height: auto;
}

.is-root-container {
	min-height: 90dvh;
}

/*
 * Small editor blocks like the footer social nav are hard to click
 * Setting a min-height so that elements can be selected to edit
 * Prior to this scrollbars overlapped small elements
*/
.block-editor-iframe__container {
	min-height: 70px;
}
