/* WordPress generated classes */

.alignleft {
	float: left;
	margin-right: 1rem;
	text-align: left;
}

.alignright {
	float: right;
	margin-left: 1rem;
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-caption {
	max-width: 100%;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-caption-text {
	margin: 0;
}
