/*
 * Typography variables
 */

:root {
	--ff-body: system-ui;
	--ff-heading: system-ui;

	/*
	 * Font Sizes
	 */
	--font-size-xxsmall: 0.8125rem;
	--font-size-xsmall: 0.875rem;
	--font-size-small: 1rem;
	--font-size-base: 1.125rem;
	--font-size-medium: 1.375rem;
	--font-size-xmedium: 1.625rem;
	--font-size-xxmedium: 1.875rem;
	--font-size-large: 2.375rem;
	--font-size-xlarge: 3rem;
	--font-size-xxlarge: 4rem;

	/*
	 * Font Weights
	 */
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	/*
	 * Line Height
	 */
	--lh-small: 1.3;
	--lh-base: 1.5;
	--lh-medium: 1.6;
	--lh-large: 1.7;
}
