/*
 * Base Font Styles
 */
body {
	font-family: var(--font-family-body);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-h1,
.heading-h2,
.heading-h3,
.heading-h4,
.heading-h5,
.heading-h6 {
	font-family: var(--font-family-heading);
	line-height: var(--line-height-medium);
	margin: 0;
}

h1,
.heading-h1,
.has-xxlarge-font-size {
	font-size: var(--font-size-xlarge);

	@media (--bp-large) {
		font-size: var(--font-size-xxlarge);
	}
}

h2,
.heading-h2,
.has-xlarge-font-size {
	font-size: var(--font-size-large);

	@media (--bp-large) {
		font-size: var(--font-size-xlarge);
	}
}

h3,
.heading-h3,
.has-large-font-size {
	font-size: var(--font-size-xxmedium);

	@media (--bp-large) {
		font-size: var(--font-size-large);
	}
}

h4,
.heading-h4,
.has-xxmedium-font-size {
	font-size: var(--font-size-xmedium);

	@media (--bp-large) {
		font-size: var(--font-size-xxmedium);
	}
}

h5,
.heading-h5,
.has-xmedium-font-size {
	font-size: var(--font-size-medium);

	@media (--bp-large) {
		font-size: var(--font-size-xmedium);
	}
}

h6,
.heading-h6,
.has-medium-font-size {
	font-size: var(--font-size-base);

	@media (--bp-large) {
		font-size: var(--font-size-medium);
	}
}

.has-body-font-size {
	font-size: var(--font-size-base);
}

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-xsmall-font-size {
	font-size: var(--font-size-xsmall);
}

.has-xxsmall-font-size {
	font-size: var(--font-size-xxsmall);
}
